#list {
  border-collapse: collapse;
  border-spacing: 0;
}

#list thead th {
  background-color: #F3F781;
  padding-right: 0px;
  cursor:pointer;
}

#list thead th div:after {
   content: "\0000a0\0000a0";
}

#list thead th.tablesorter-headerAsc, #list thead th.tablesorter-headerDesc {
  background-color: lightblue;
}

#list thead th.tablesorter-headerAsc div:after {
   content: "\0000a0\25b4";
   color:blue;
}

#list thead th.tablesorter-headerDesc div:after {
   content: "\0000a0\25be";
   color:blue;
}

#list td, table th {
  border: 1pt solid #333;
  padding: 0.25em 0.5em;
}

#list tbody tr td:nth-child(2) {
  background: lightpink;
}

#list tbody tr.online td:nth-child(2) {
  background: lightgreen;
}

#list tfoot td {
  font-weight: bold;
}
