body {
  margin: 0;
  padding: 0;
  font-family: sans serif, sans, arial;
}

input, select, button {
  font-family: inherit;
  font-size: 100%;
}

header h1, ul {
  margin: 0;
  padding: 0;
}

header h1, header ul, header ul li {
  display: inline-block;
  font-size: 10pt;
}

header h1, header ul li a {
  padding: 0.5em;
}

header ul {
  list-style: none;
  padding: 0;
}

header {
  background: #333;
  color: #fefefe;
}

header a {
  text-decoration: none;
  color: #FFCC01;
}

header a:hover {
  background: #C83771;
  text-decoration: underline;
}

header h1 a:hover {
  background:transparent;
}


header h1 a {
  color: #FFFFFF;
}

.container {
  margin: 1em;
}

#sidebar {
  display: flex;
  height: 100%;
}

#sidebar .content {
  border-left: 1pt solid #ccc;
  display: block;
  vertical-align: top;
  padding: 1em;
  z-index: 0;
  font-size: 9pt;
}

#sidebar .toggler {
  align-self: stretch;
  border: none;
  margin: 0;
  background-color: #eee;
  opacity:0.6;
  margin-left:-0.9em;
}

#sidebar .toggler:hover {
  background-color: #FFCC01;
  cursor:pointer;
  opacity:0.8;
}

#sidebar .toggler:active {
  background-color: #FFDD20;
}
