#chart {
  background: #000;
}

.node {
  stroke-width: 2.5px;
  opacity: 0.2;
}

.node text, .label text {
  font-size: 14px;
  font-weight: bold;
  text-shadow: 0px 0px 3px #000;
  fill: #fff;
}

.link line {
  stroke: #fff;
  stroke-width: 5px;
  stroke-opacity: 1;
}

.link.vpn line {
  stroke-dasharray: 1px 6px;
  stroke-linecap: round;
  stroke-width: 2px;
}

.link line.unidirectional {
  stroke-width: 2px;
}

.label rect {
  opacity: 0.0;
}

.node {
  fill: #fff;
  stroke: #48f;
}

.node.gateway {
  stroke: #ff7f0e;
  fill: #ff7f03;
}

.node.client {
  stroke: #ff0;
  fill: #ff0;
  stroke-width: 5px;
}

.uplinks path, .uplinks text {
  fill: #0ff;
}

.strength {
  font-size: 10px;
  fill: #C83771;
}

#sidebar {
  color: #ddd;
}

#sidebar text {
  fill: #ddd;
  font-size: 0.8em;
}

.label rect {
  fill: rgba(255, 255, 255, 1.0);
}
