.label rect {
  fill: #ff8;
  opacity: 0.9;
  stroke: rgba(0, 0, 0, 0.5);
  stroke-width: 1px;
}

.label text {
}

line.link {
  stroke-width: 2.5pt;
  opacity: 0.5;
}

#voronoi path {
  stroke: #000;
}

#voronoi path {
  opacity: 0.2;
}

.q0-9{fill:rgb(197,27,125)}
.q1-9{fill:rgb(222,119,174)}
.q2-9{fill:rgb(241,182,218)}
.q3-9{fill:rgb(253,224,239)}
.q4-9{fill:rgb(247,247,247)}
.q5-9{fill:rgb(230,245,208)}
.q6-9{fill:rgb(184,225,134)}
.q7-9{fill:rgb(127,188,65)}
.q8-9{fill:rgb(77,146,33)}

.label line {
  stroke-width: 2px;
  stroke: #000;
  opacity: 0.3;
}

.overlap rect {
  fill: red
}

.hulls {
  fill: rgba(50, 100, 200, 0.4);
  stroke: rgba(50, 100, 200, 0.8);
  stroke-width: 1pt;
}
