table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th.headerSortUp, table th.headerSortDown {
  background-color: lightblue;
}

table td, table th {
  border: 1pt solid #333;
  padding: 0.25em 0.5em;
}

#list tbody tr td:nth-child(2) {
  background: lightpink;
}

#list tbody tr.online td:nth-child(2) {
  background: lightgreen;
}
