body {
  margin: 0;
  padding: 0;
  font-family: sans serif, sans, arial;
}

header h1, ul {
  margin: 0;
  padding: 0;
}

header h1, header ul, header ul li {
  display: inline-block;
  font-size: 10pt;
}

header h1, header ul li a {
  padding: 0.5em;
}

header ul {
  list-style: none;
  padding: 0;
}

header {
  background: #333;
  color: #fefefe;
}

header a {
  text-decoration: none;
  color: #FFCC01;
}

header a:hover {
  background: #C83771;
}
