#chart {
  background: #000;
}

.node ellipse {
  stroke-width: 2.5px;
}

.node text {
  font-size: 11px;
  fill: #000;
  font-weight: bold;
}

.link line {
  stroke: #ddd;
  stroke-opacity: 1;
  stroke-width: 5px;
}

.link.vpn line {
  stroke-dasharray: 1px 6px;
  stroke-linecap: round;
  stroke-width: 2px;
}

.node ellipse {
  fill: #fff;
  stroke: #48f;
}

.node ellipse.gateway {
  stroke: #ff7f0e;
  fill: #ff7f03;
}

.node ellipse.client {
  stroke: #ff0;
  fill: #ff0;
  stroke-width: 5px;
}

.uplinks path, .uplinks text {
  fill: #0ff;
}

.strength {
  font-size: 10px;
  fill: #C83771;
}

sidebar {
  color: #ddd;
}
