#chart {
  background-image: url(gplaypattern.png);
}

.node ellipse {
  fill: #fff;
  stroke-width: 2.5px;
}

.node text {
  font-size: 10px;
  fill: #333;
}

.link line {
  stroke: #777;
  stroke-opacity: 1;
  stroke-width: 1.5px;
}

.link.vpn line {
  stroke-dasharray: 0.75px 4px;
  stroke-linecap: round;
}

.link:hover line {
  stroke-width: 5px;
}

.uplinks path {
  fill: #333;
}

.node ellipse {
  stroke: #AEC7E8;
}

.node ellipse.gateway {
  stroke: #FF7F0E;
}

.node ellipse.client {
  stroke: #1F77B4;
  fill: #1F77B4;
}

.link .label {
  fill: transparent;
  stroke: #C83771;
  stroke-width: 1px;
}

.strength {
  font-size: 10px;
  fill: #C83771;
}

sidebar {
  color: #777;
}
