#chart {
  background: #000;
}

.node ellipse {
  stroke-width: 2.5px;
}

.node text {
  font-size: 10px;
  color: #333;
}

.link line {
  stroke: #f50;
  stroke-opacity: 1;
  stroke-width: 5px !important;
}

.node ellipse {
  fill: #fff;
  stroke: #04f;
}

.node ellipse.gateway {
  stroke: #FF7F0E;
}

.node ellipse.client {
  stroke: #ff0;
  fill: #ff0;
  stroke-width: 5px;
}

.uplinks path, .uplinks text {
  fill: #0ff;
}

.strength {
  font-size: 10px;
  fill: #C83771;
}


